<nav class="navbar">
    <div class="container" style="padding: 0">
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ path('index') }}">Główna</a></li>
            <li><a href="{{ path('categories') }}">Kategorie</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li><a href="{{ path('add') }}">Dodaj</a></li>

            {% if user is null %}
                <li>
                    <a href="{{ path('register') }}">
                        <span class="glyphicon glyphicon-user"></span> Rejestracja
                    </a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_login') }}">
                        <span class="glyphicon glyphicon-log-in"></span> Logowanie
                    </a>
                </li>
            {% else %}
                <p class="navbar-text">
                    Witaj, {{ user.username }}!
                </p>

                <li>
                    <a href="{{ path('fos_user_security_logout') }}">
                        <span class="glyphicon glyphicon-log-in"></span> Wyłoguj
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>